<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-content>
    <ion-card>
  
      <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-input name="text" type="text" placeholder="Nome Completo" ngModel required></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-input name="email" type="email" placeholder="Seu@email.com" ngModel required></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-input name="text" type="text" placeholder="Apelido" ngModel required></ion-input>
                </ion-item>
  
                <ion-item>
                  <!-- <ion-label>Data de Nascimento</ion-label> -->
                  <ion-datetime value="" display-timezone="gmt" placeholder="Data de Nascimento"></ion-datetime>
                  <!-- <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime> -->
                </ion-item>
  
                <ion-item>
                  <ion-select placeholder="Genero">
                    <ion-select-option value="f">Female</ion-select-option>
                    <ion-select-option value="m">Male</ion-select-option>
                    <ion-select-option value="m">Outro</ion-select-option>
                  </ion-select>
                </ion-item>
  
  
                <ion-item>
                  <ion-select placeholder="Selecione Pokemon Favorito">
                    <ion-select-option value="f">Charmander</ion-select-option>
                    <ion-select-option value="m">Squirtle</ion-select-option>
                    <ion-select-option value="m">Bulbasaur</ion-select-option>
                  </ion-select>
                </ion-item>
  
  
                
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Senha" ngModel required></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Confirmar senha" ngModel required></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-textarea placeholder="Bio"></ion-textarea>
                </ion-item>
              </div>
              <div padding>
                <ion-button size="medium" type="button" expand="block">Editar</ion-button>
  
                <ion-button size="medium" color="danger" type="button" expand="block">Deletar Conta</ion-button>
  
              </div>
  
              <div padding>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>
  
    
</ion-content>
