<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pokedex">
      <img class="iconMenu" src="../../assets/icons/iconPikachu.png" alt="" />
      <ion-label>Pokedex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equipe">
      <img class="iconMenu" src="../../assets/icons/iconBall.png" alt="" />
      <ion-label>Equipe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <img class="iconMenu" src="../../assets/icons/iconSword.png " alt="" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
